00_XML_DTD/public_html/bibliotheque.dtd

<?xml version='1.0' encoding='UTF-8'?>

<!ELEMENT biblio (allee+)>
<!ELEMENT allee (numAllee,unRayon+)>
<!ELEMENT unRayon (numRayon?,ouvrage*)>
<!ELEMENT ouvrage (titre,auteur?,numOuvrage?)>

<!ATTLIST ouvrage typeOuvrage (litterature|manuelScolaire|periodique|scienceEtTechnique) "litterature" >
<!ELEMENT numAllee (#PCDATA)>
<!ELEMENT numRayon (#PCDATA)>
<!ELEMENT titre (#PCDATA)>
<!ELEMENT auteur (#PCDATA)>
<!ELEMENT numOuvrage (#PCDATA)>